.groupDescription {
    padding-bottom: 20px;
}

.contentPadding {
    padding-right: 0px;
}

.membersBox {
    display: flex;
    flex-wrap: wrap; 
    max-width: 100%;
}

.modButton {
    margin-right: 20px;
}

@media (max-width: 899px) {
    .contentPadding {
        padding-left: 20px;
        padding-right: 20px;
    }

    .membersBox {
        display: flex;
        flex-wrap: wrap; 
        max-width: 100%;
        justify-content: center;
    } 
}

@media (max-width: 715px) {
    .modButton {
        margin-bottom: 20px;
    }

    .joinButton {
        margin-left: 30px;
    }
}
